$body-background: rgb(0, 0, 0);
$docu-preview-background: rgb(26, 26, 26);
$docuflix-red: #CC0000;
$ui-main-clr: rgb(231, 231, 231);
$muted-text-clr: rgb(104, 104, 104);
$video-control-clr: rgb(120, 120, 120);

.muted-txt-clr {
  color: $muted-text-clr
}

