// DIV SIZES
// RELATIVE SIZES
.div-100{ 
  width: 100%;
}

.div-60 {
  width: 60%;
  margin: 0 auto;
}

.div-80 {
  width: 80%;
  margin: 0 auto;
}

.div-40 {
  width: 40%;
  margin: 0 auto;
}

.div-30 {
  width: 30%;
  margin: 0 auto;
}
// FIXED SIZES
.div-600w {
  width: 600px;
}

// HEIGHTS
.div-300h {
  height: 300px;
}

.vh-100 {
  height: 100vh;
}