@import 'https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;600&display=swap';

$title-font: 'Heebo', sans-serif;
$text-font: 'Signika Negative', sans-serif;

.font-075 {
  font-size: 0.75rem;
}