body {
  background-color: $body-background;
  color: $ui-main-clr;
  font-family: $text-font;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  // text-justify: center;
  h1{ // giant title
    font-family: $title-font;
    font-size: 42px;
    margin-bottom: 20px;
  }
  h2 { // big buttons text
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
  }

  h3 { // subtitles
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 24px;
  }

  h4 { // index titles
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
  }

  h5 { // form labels
    font-weight: 600;
    margin-bottom: 20px;
  }

  h6 { //footer fine print
    font-weight: 300;
    // margin-bottom: 20px;
    color: $muted-text-clr;
  }



}


.light-mode {
  background-color: $ui-main-clr;
  color: $body-background;
  width: 100%;
}

.fixed-nav {
  padding-top: 100px;
}

.flex-center-on-page-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.overlay-container {
  position: relative;
}

.overlay-object {
  position: absolute;
}

.on-top {
  z-index: 10;
}

.fa {
  font-size: 14px;
  
  &:first-child {
    padding-right: 10px;
  }
  &:last-child {
    padding-left: 10px;
    
  }
}

// SIZES

.div-100{ 
  width: 100%;
}

.div-60 {
  width: 60%;
}

.div-80 {
  width: 80%;
  margin: 0 auto;
}

.div-40 {
  width: 40%;
}

.div-300h {
  height: 300px;
}

