@mixin button($bg-color, $border-clr, $txt-clr){
  color: $txt-clr;
  // border: 3px solid $color;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  background-color: $bg-color;
  border: 1px solid $border-clr;
  box-sizing: border-box;
  
  &:hover {
    color: darken($txt-clr, 20);
    background-color: darken($bg-color, 20);
    cursor: pointer;
  }
}

@mixin nav($height){
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: $height;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;

}

@mixin gradient-overlay($end-color) {
  content: "";
  width: 100%;
  aspect-ratio: 16/9; 
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.0) 80%, $end-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, top, bottom, color-stop(80%,rgba(220, 66, 37, 0.0)), color-stop(100%,$end-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,47,75,0.0) 80%,$end-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.0) 80%,$end-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.0) 80%,$end-color 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,47,75,0.0) 80%, $end-color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 15;
}