// PADDING AND MARGINS

.pad-l-10 {
  padding-left:10px;
}

.pad-10 {
  padding:10px;
}
.pad-t-50 {
  padding-top: 50px;
}

.pad-t-100 {
  padding-top: 100px;
}
.pad-t-20 {
  padding-top: 20px;
}
.pad-b-10 {
  padding-bottom: 10px;
}

.pad-lr-70 {
  padding-left: 70px;
  padding-right: 70px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-lrb-30 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.m-lr-70 {
  margin-left: 70px;
  margin-right: 70px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-40-children {
  > li {
    margin-bottom: 40px;
  }
}

.ml-30 {
  margin-left: 30px;
}
