$index-thumbnail-width: 222px;
$index-thumbnail-height: 125px;

$video-preview-width: 350px;
$video-preview-height: 175px;

$video-preview-info-width: 300px;
$transparent: rgba(3, 0, 0, 0);

$profile-badge-img-dim: 100px;
$profile-thumb-img-dim: 60px;
$profile-micro-thumb-img-dim: 30px;