.documentary-preview { // the panel that holds preview, controls and info
  position: absolute;
  width: $video-preview-width;
  // height: 350px;
  background-color: $docu-preview-background;
  transform: translate(-12.5%,0);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

} 


.preview-container { // container with video and image on top
  position: relative;
  display: flex;
  aspect-ratio: 16 / 9;
  margin-bottom: 20px;
}

.loading-img { // thumbnail image that would disappear
  position: absolute;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  z-index: 10;
}

.video-preview {
  position: absolute;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.hidden {
  display: none;
}



