.documentary-info-and-watch { // documentary info panel backdrop over entire screen
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  background-color: rgba(10, 10, 10, 0.137);
  z-index: 10;
  display: flex;
  justify-content: center;
  > div { // documentary info container
    height: 600px;
    top: 50px;
    position: fixed;
    background-color: rgb(34, 34, 34);
  }
}

.documentary-info{ // the grid with information
  display: grid;
  grid-template-columns: 60% 40%;
  position: static;
}
