.docu-carusel {
  display: flex;
  > li {
    width: $index-thumbnail-width;
    height: $index-thumbnail-height;
    margin-right: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 4px;
    
  }
  li:first-child {
    .documentary-preview {
      transform: translate(0,0);
    }
  }
}

.index-thumbnail {
  width: $index-thumbnail-width;
  height: $index-thumbnail-height;

  object-fit: cover;
}

.genres-index {
  > li {
    margin-top: 25px;
  }
  padding-left: 40px;
  
}