.browse-nav {
  @include nav(50px);
  position: fixed;
  top: 0;
  z-index: 50;
  h5 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.nav-init {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0));

}

.nav-window {
  background-color: $body-background;
}

.nav-splash {
  @include nav(80px);
}
.nav-login {
  @include nav(100px);
  position: absolute;
  
}

.nav-signup {
  @include nav(90px);
  border-bottom: 1px solid rgba(3, 3, 3, 0.126);
}

.nav-ele {
  margin: 15px;
} 

.btn-group-nav {
  display: flex;
}

footer {
  border-top: 1px solid grey;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  h6 {
    margin-top: 20px;
  }
  > div, >h6 {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.signup-footer {
  background-color: rgb(197, 197, 197);
}

.profile-dropdown {
  top: 30px;
  right: 0;
  color: $ui-main-clr;
  width: 150px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.521);
  text-align: left;

  li {
    padding: 15px;
    border-radius: 5px;
  }

  li:hover {
    // background-color: lighten($docu-preview-background, 20);
    text-decoration: underline;
  }
}