.browse-nav {
  @include nav(50px);
  position: fixed;
  background-color: $body-background;
  top: 0;
  z-index: 50;
}

.nav-splash {
  @include nav(80px);
}
.nav-login {
  @include nav(100px);
  position: absolute;
  
}

.nav-signup {
  @include nav(90px);
  border-bottom: 1px solid rgba(3, 3, 3, 0.126);
}

.nav-ele {
  margin: 15px;
} 

.btn-group-nav {
  display: flex;
}

footer {
  border-top: 1px solid grey;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  h6 {
    margin-top: 20px;
  }
  > div, >h6 {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
  }
}

.signup-footer {
  background-color: rgb(197, 197, 197);
}