.browse-nav {
  @include nav(50px);
}

.nav-splash {
  @include nav(80px);
  width: 95%;
}
.nav-login {
  @include nav(100px);
  width: 95%;
  position: absolute;
  
}

.nav-signup {
  @include nav(90px);
  // width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid rgba(3, 3, 3, 0.126);
}

.nav-ele {
  margin: 15px;
} 

.btn-group-nav {
  display: flex;
}

footer {
  padding-top: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
   h6 {
    margin-top: 20px;
  }
  > div {
    display: flex;
    justify-content: space-between;
  }
}

.signup-footer {
  background-color: rgb(197, 197, 197);
}