.profile-index {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-card {
  width: $profile-badge-img-dim;
  height: $profile-badge-img-dim;
  border-radius: 5px;
}

.profile-thumb {
  width: $profile-thumb-img-dim;
  height: $profile-thumb-img-dim;
  border-radius: 5px;
}

.profile-avatar {
  width:100%;
  object-fit: cover;
}

.on-profile-badge{

  height: $profile-badge-img-dim;
  width: $profile-badge-img-dim;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: center;
  justify-content: center;
}

.in-lower-corner{

  height: $profile-badge-img-dim;
  // width: $profile-badge-img-dim;
  // background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  bottom: 10px;
  left: 10px;
}

