// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-box {
  display: flex;
  height: 600px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.632);
}


.signup-card {
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
  margin: 0 auto;
}

.session-form {
  display: flex;
  flex-direction: column;
}


.input-field-splash {
  height: 50px;
  background-color: $ui-main-clr;
  box-sizing: border-box;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  
}

.splash-form {
  // display: flex;
  flex-direction: row;
  position: static;
  display: grid;
  grid-template-columns: 70% 30%;
  height: 50px;
  background-color: blue;
  
}

.in-error-state {
  border-bottom: 3px solid orange;
}

.errors-display {
  color: orange;
  text-align: left;
}

.session-errors-display {
  color: white;
  background-color: orange;
  text-align: left;
}
