
.maturity-rating {
  border: 1px solid white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 15px;
}

.info-row{
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  span {
  margin: 3px;
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    > li {

      margin: 5px;
    }
  }
}

.docuflix-logo {
  fill: $docuflix-red;
  width: 6.75rem;
  height: 2rem;
}

.docuflix-logo-bg {
  fill: $docuflix-red;
  width: 10rem;
  height: 4rem;
}



.docuflix-btn {
  @include button($docuflix-red, $transparent, $ui-main-clr);
}

.splash-get-started {
  @include button($docuflix-red, $transparent, $ui-main-clr);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: inherit;
}

.docuflix-lnk {
  color: $docu-preview-background;
  > h2 {
    margin-bottom: 0;
  }
}

.form-ele {
  margin-top: 20px;
}


.contact-btn {
  @include button($transparent, $ui-main-clr, $ui-main-clr);
  // position: relative;
}
.contact-btn-muted {
  @include button($transparent, $muted-text-clr, $muted-text-clr);
  // width: 120px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.fa-btn {
  color:$ui-main-clr;
}

.fa-btn-circle {
  color:$ui-main-clr;
  border: 2px solid $video-control-clr;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.123);
}

.fa-btn-lg {
  height: 35px;
  width: 35px;
  margin: 5px;
}

.fa-btn-sm {
  height: 20px;
  width: 20px;
  margin: 5px;
}

.fa-btn-play {
  @include button($ui-main-clr, $transparent, $body-background);
  // color: $body-background;
  // background-color: $ui-main-clr;
  // border-radius: ;
  h5 {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.fa-btn-circle:hover {
  border-color: lighten($video-control-clr, 20);
}

.scroll-handle-btn {
  background-color: transparent;
  height: $index-thumbnail-height;
  width: 50px;
}

.scroll-handle-btn:hover.r {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.541));
}

.scroll-handle-btn:hover.l {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0));
}


// DROPDOWN MENU
// =======================

.drpdwn-container {
  position: relative;
}

.dropdown-list {
  display: none;
  position: absolute;
  cursor: pointer;
}

.drpdwn-container:hover .dropdown-list {
  display: block;
  flex-direction: column;
  
}
//  =========================

.contact-drpdwn {
  top: 50px;
  right: 20px;
  color: $ui-main-clr;
  width: 120px;
  border-radius: 5px;
  background-color: $docu-preview-background;

  li {
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      // h6 {
      //   margin-top: 0;
      //   padding-bottom: 0;
      //   margin-bottom: 0;
      //   padding-bottom: 0;
      // }
    }
    h6 {
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
  }

  li:hover {
    background-color: lighten($docu-preview-background, 20);
  }

}

.contact-drpdwn-footer {
  // display:block;
  bottom: 30px;
  left: 5px;
  color: $muted-text-clr;

  width: 120px;
  border-radius: 5px;
  background-color: $docu-preview-background;

  li {
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    a {
      width: 100%;
      display: flex;
      align-items: center;
    }
    h6 {
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  li:hover {
    background-color: lighten($docu-preview-background, 20);
  }

}


//  INPUT ELEMENTS

.input-group {
  position: relative;

  > label {
    position: absolute;
    color: $muted-text-clr;
    top: 3%;
    left: 2%;
  }
  > input {
    font-family: $text-font;
    font-weight: 300;
    font-size: 18px;
    box-sizing: border-box;
  }
}

.user-edit-input {
  height: 40px;
  background-color: rgba(90, 90, 90, 0.425);
  padding-left: 10px;
  padding-top: 7px;
}

.user-edit-input:focus {
  height: 40px;
  background-color: white;
}

.search-input {
  height: 20px;
  background-color: rgba(90, 90, 90, 0.425);
  padding-left: 10px;
  width: 30vw;
}

.search-input:focus {
  height: 20px;
  background-color: rgba(255, 255, 255, 0.548);
}

.bdr-rad-5 {
  border-radius: 5px;
}

.bdr-rad-7 {
  border-radius: 7px;
}

.bdr-rad-5-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bdr-rad-7-top {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}